<h1>Please Sign Up</h1>

<%= @user.errors.full_messages %>

<form action="<%= users_url %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Username
    <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>

  <label>Email
    <input type="text" name="user[email]" value="<%= @user.email %>">
  </label>

  <label>Password
    <input type="password" name="user[password]" value="">
  </label>
  <input type="file" name="user[picture]">

  <input type="submit" name="Submit">


</form>
