

<h1> <%= album.escape("title") %> </h1>

<% album.screenshots().each(function (screenshot) { %>

  <span> <%= screenshot.escape("title") %> </span>


  <a class="album-ss" data-id="<%=screenshot.get('id')%>" href="#"><img class="album-ss" src="<%= screenshot.escape("image_url") %>" alt="" /></a>
  <% if (Instagib.current_user_id === album.get("owner_id")) {%>
  <button class="remove-ss" data-id="<%= screenshot.get("id") %>">Remove Screenshot from Album</button>
  <% } %>

  <br>
<% }.bind(album)) %>
<br>
<br>
<% if (Instagib.current_user_id === album.get("owner_id")) {%>
<a class="add-ss" href="#">Add screenshots to this album</a>
<% } %>
