<h1 class="favorites-title"> <%= user.escape("username") %>'s Favorite Screenshots </h1>
<ul>
<% favorites.each(function(fav) { %>
  <li class="favorites-list-item">

    <a href="#/screenshots/<%= fav.id %>"></a><img class="favorites-picture" src="<%= fav.get("thumb_url") %>" alt="" />
    <br>
    <%= fav.escape("title") %>
    <br>
    <% if (Instagib.current_user_id === user.id){ %>
      <button class="unfav" data-id="<%= fav.id %>">Unfavorite this Screenshot</button>
      <% } %>

  </li>
<%  }) %>
</ul>
