<h1 class="search-title">Search for Users, Albums, or Screenshots</h1>

<label> Search
  <input type="text" class="query" name="query" value="">
</label>

<ul>
  <% if (results.length === 0) {%>
    <li>There are no results matching that query</li>
    <% } %>

  <% results.each(function(result) { %>
    <li>
      <% if (result instanceof Instagib.Models.User) {%>
        <a href="#/users/<%=result.get("new_id")%>"><%= result.escape("username") %> (User)</a>
      <% } else if (result instanceof Instagib.Models.Screenshot){ %>
        <a href="#/screenshots/<%=result.get("new_id")%>"><%= result.escape("title") %></a>
        (<%=result.get("_type")%>)
        <% } else if (result instanceof Instagib.Models.Album){ %>
          <a href="#/albums/<%=result.get("new_id")%>"><%= result.escape("title") %></a>
          (<%=result.get("_type")%>)
      <% } %>
    </li>

  <%  }) %>

</ul>
