<h1 class="personalfeed-title"> Recently posted screenshots from the people you follow</h1>

<ul class="personalfeed">
  <% screenshots.each(function(screenshot) { %>

      <li class="personalfeed-ss-container">

        <a href="#/users/<%= screenshot.get("owner_id") %>"><%= screenshot.escape("owner") %></a> Posted:
        <br>
        <span class="personalfeed-ss-title"> <%= screenshot.escape("title") %> </span>
        <br>
      <a class="personalfeed-ss" data-id="<%=screenshot.get('id')%>" href="#/screenshots/<%=screenshot.get('id')%>"><img class="personalfeed-ss" src="<%= screenshot.get("thumb_url") %>" alt="" />
        </a>
      <br>


      <br>
    </li>


    <% }) %>
</ul>
