<h1> <%= screenshot.escape("title") %> </h1>

<% if (screenshot.escape("image_url")) {%>
<img src="<%= screenshot.escape("image_url") %>" alt="" />
<% } else { %>
  <img class="ss-img" src="<%=screenshot.get("picture")%>" alt="" />
  <% } %>
<br>
<% if (Instagib.current_user_id === screenshot.get("owner_id")) { %>
  <button class="add-tag">Add a new tag</button>
<% } else { %>
  <% if (Instagib.current_user_id) { %>
    <% if (screenshot.isFavorited(Instagib.current_user_id)) { %>
      <button class="unfav">Remove from Favorites</button>
      <% } else { %>
        <button class="fav">Add to Favorites</button>        

  <% }}} %>
<ul class="tags">
  <h2>Tags</h2>
  <% screenshot.tags().each(function(tag) { %>
    <li>
      <%= tag.escape("label") %>
       <% if (Instagib.current_user_id === screenshot.get("owner_id")) { %>
        <button class="remove-tag" data-id="<%= tag.get("id") %>">Remove this tag</button>
      <% } %>
    </li>

    <% }) %>
    <li> game: <%= screenshot.gameTag().escape("label") %> </li>
</ul>
<br>


<% if (Instagib.current_user_id) { %>
<button class="add-comment">Add a new Comment</button>
<% } %>

<ul class="comments">
  <h1>Comments!</h1>

<% screenshot.topLevelComments().each(function (topComment) { %>



    <%=JST.comment_show({comment: topComment})%>


<% }) %>
</ul>
