<h1 class="username"><%= user.escape("username") %>'s Page</h1>

<% if (Instagib.current_user_id === user.get("id") ){%>
<span class="email"> <%= user.escape("email") %> </span>
<% } else { %>
  <% if (Instagib.current_user_id) {%>
    <% if (user.isFollowed(Instagib.current_user_id)) { %>
      <button class="unfollow">Unfollow</button>
    <% } else { %>
      <button class="follow">Follow</button>
    <% } } }%>

<br>

<img class="avatar" src="<%= user.get("medium_url") %>" alt="" />
<br>
<ul class="user-links">
<li><a href="#/users/<%=user.id%>/followers" class="followers">See Followers</a></li>



<li><a href="#/users/<%=user.id%>/followeds" class="followed">See Followed</a></li>


<li><a class="favorites" href="#/users/<%=user.id%>/favorites">See Favorite Screenshots!</a></li>
</ul>
