<!DOCTYPE html>
<html>
<head>
  <title>InstaGib</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script>

  window.pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
</script>
</head>
<body class="group">
  <a href="#"><h1 class="logo">INSTAGIB</h1></a>
 <% if current_user %>
 <script>
   Instagib.current_user_id = <%= current_user.id %>
 </script>
 <span class="current-user">
You are signed in as <a href="#/users/<%=current_user.id%>"><%= current_user.username %>
<img src="<%=current_user.picture.url%>" style="height: 50px" alt="" />
</a>
</span>

<form class="logout" action="<%= session_url %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" name="logout" value="Logout">
</form>
  <% else %>
  <script>
    Instagib.current_user_id = null
  </script>

 <% end %>



 <% if current_user %>
 <header class="root-header group">
   <nav class="root-navbar group">
     <ul class="root-buttons group">
       <li> <a href="#/search">Search</a> </li>
       <li> <a href="#/users/<%=current_user.id%>" >Profile</a> </li>
       <li> <a href="#/users/<%=current_user.id%>/albums">Your Albums</a> </li>
       <li> <a href="#/screenshots/new"> New Screenshot </a> </li>
     </ul>
   </nav>
 </header>
 <% end %>

<%= yield %>

</body>
</html>
