<!DOCTYPE html>
<html>
<head>
  <title>InstaGib</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script>

  window.pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
</script>
</head>
<body class="group">


 <% if current_user %>
 <script>
   Instagib.current_user_id = <%= current_user.id %>
 </script>
 <header class="root-header group">
   <nav class="root-navbar group">
     <ul class="root-buttons group">
       <li> <a class="search-button" href="#/search"><img src="../images/magnifying_glass_T.png" alt="Search" /></a> </li>
       <li> <a href="#/users/<%=current_user.id%>/albums"><img src="../images/Photos-icon.png" alt="" /></a> </li>
       <li> <a href="#/screenshots/new"> <img src="../images/camera.png" alt="New Screenshot" /> </a> </li>
     </ul>

   </nav>
   <a href="#"><span class="logo">INSTAGIB</span></a>
   <span class="current-user">
 <a href="#/users/<%=current_user.id%>"><%= current_user.username %>
  <img src="<%=current_user.picture.url%>" style="height: 30px" alt="" />
  </a>
  <ul class="user-drop-down">
    <li>  <a href="#/users/<%=current_user.id%>"> Profile </a> </li>
    <li>  <a href="/session/destroy"> Logout </a> </li>
    <li> <a href="#/messages"> Messages <%= current_user.mail.where(received: false).count %> New</a> </li>
  </ul>
  </span>

 </header>


 <% else %>
 <script>
   Instagib.current_user_id = null
 </script>

 <% end %>

<%= yield %>

</body>
</html>
