<!DOCTYPE html>
<html>
<head>
  <title>InstaGib</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <% if current_user %>
 <script>
   Instagib.current_user_id = <%= current_user.id %>
 </script>
You are signed in as <a href="#/users/<%=current_user.id%>"><%= current_user.username %>
<img src="<%=current_user.picture.url%>" style="height: 50px" alt="" />
</a>


<form action="<%= session_url %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" name="logout" value="Logout">
</form>
  <% else %>
  <script>
    Instagib.current_user_id = null
  </script>
  <a href="<%= new_session_url %>">Login</a> OR
  <a href="<%= users_new_url %>">SIGN UP</a>
 <% end %>
 <% if current_user %>
 <header>
   <nav>
     <ul>
       <li> <a href="#/search">Search</a> </li>
       <li> <a href="#/users/<%=current_user.id%>" >Profile</a> </li>
       <li> <a href="#/users/<%=current_user.id%>/albums">Your Albums</a> </li>
     </ul>
   </nav>
 </header>
 <% end %>

<%= yield %>

</body>
</html>
